<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silme Block Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
</head>
<body>
    <nav>
        
        </a>
    </nav>

    <h1>Silme block explorer</h1>
    

    <div id="map" style="width:100%; height:200px;"></div>

    {% for obj in object %}
    <h3>Block # {{ obj.height }}</h3>

    {% endfor %}

    <header>
        <h3>Summary</h3>
    </header>

   

    {% for obj in object %}



    
        <table border=0 cellpadding=2>
        <tr>
            <th>Version:</th>
            <td>{{ obj.version }}</td>
          </tr>
          <tr>
          <tr>
            <th>Hash:</th>
            <td>{{ obj.hash }}</td>
          </tr>
          <tr>
            <th>Timestamp:</th>
            <td>{{ obj.time }}</td>
          </tr>
          <tr>
            <th>Prev:</th>
            <td>{{ obj.prev }}</td>
          </tr>
          <tr>
            <th>Merkle:</th>
            <td>{{ obj.merkle }}</td>
          </tr>
          <tr>
          <tr>
            <th>Difficulty:</th>
            <td>{{ obj.diff }}</td>
          </tr>
          <tr>
            <th>Bits:</th>
            <td>{{ obj.bits }}</td>
          </tr>
          <tr>
            <th>Nonce:</th>
            <td>{{ obj.nonce }}</td>
          </tr>
          <tr>
            <th>Transactions:</th>
            <td>{{ obj.txs }}</td>
          </tr>
    </table>
    {% endfor %}

    {% for obj in object %}
    <h3>Transaction in block # {{ obj.height }}</h3>
    {% endfor %}

    

    <table border=1 cellpadding=7>
        <tr>
            <th>Hash</th>
            <th>Value</th>
            <th>Type</th>
        </tr>
    {% for tx in txs %}
        <tr>

            <td><a href="{{ url_for('detail_tx' ,row_id=tx.hash) }}">{{ tx.hash }}</a></td>

            <td>{{ tx.value }}</td>
            <td>{{ tx.type }}</td>
        </tr>
    {% endfor %}
    </table>
    
    <script type="text/javascript">
        var map = L.map('map').setView([0, 0], 0);
        var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Data, imagery and map information provided by <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>.'
        });
        map.addLayer(osmLayer);
        var data = {
          "type": "FeatureCollection",
          "features": [
            {% for obj in object_list %}
            {
              "type": "Feature",
              "properties": {
                "height": "{{ obj.height }}",
                "id": "{{ obj.height }}"
              },
              "geometry": {
                "type": "Point",
                "coordinates": [{{ obj.x }}, {{ obj.y }}]
              }
            }{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        };
        var blackIcon = L.Icon.extend({
            options: {
                iconUrl: "{{ url_for('static', filename='marker-24.png') }}",
                iconSize: [24, 24]
            }
        });
        var dataLayer = L.geoJson(data, {
            pointToLayer: function (feature, latlng) {
                return L.marker(latlng, {icon: new blackIcon()});
            },
            onEachFeature: function(feature, layer) {
                layer.bindPopup(
                    '<a href="' + feature.properties.height + '/">' +
                        feature.properties.height +
                    '</a>'
                );
            }
        });
        map.addLayer(dataLayer);
    </script>

    
    
</body>
</html>
